# -*- mode: gitignore; -*-
node_modules
.DS_Store

### PHP storm ###
.idea
.idea/*
.idea/workspace.xml
atlassian-ide-plugin.xml
.settings

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Emacs ###
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
